# Project Babylon

Purpose: create a tool that can synthesize a new name from any corpus.  Essentially, something that boils a corpus down to an essence (distribution of characters by position), then builds a word/name out of it.  

I have no idea if it'll produce anything interesting, but this is the solution to how boring my current monster name generator is (e.g. I saw the name "Drog" happen a few roles after seeing it once and it can't produce the name 'Grimace', which was a monster I drew/named)

In [29]:
# load modules and set params
import pandas as pd
import numpy as np
from string import ascii_lowercase
import random
from IPython.display import Image

random.seed(8675309)

In [ ]:
![grimacy]("../assets/")

I'm curious to see how many permutations there are if all 26 characters were possible for a word that is n-characters long:

In [2]:
n = 10
for i in range(n):
    print(26**i)

1
26
676
17576
456976
11881376
308915776
8031810176
208827064576
5429503678976

Of course, many of those permutations won't be possible because they won't occur in the corpus.  For instance, a corpus might not have a 'z' as the second character or a 'q' as the 10th.

Let's see what kind of permutations are possible if we pick 5 letters at random.  We should expect a garble of nonsense that doesn't even resemble something we can pronounce.

In [3]:
letters = ''.join([random.choice(ascii_lowercase) for _ in range(5)])

In [4]:
for i in range(10):
    letters = ''.join([random.choice(ascii_lowercase) for _ in range(5)])
    print(letters)

iuuvh
uwlca
pukpb
hltwl
egimh
hxryt
iueof
rckzq
baxhg
trpzm

Gibberish.  However, if we choose each character by its likelihood in any position as well as with a weight for coming after the preceding character ('h' being more common after 't' and 's'), then we can hope to build words that seem to make sense.  Still, hard rules could be set where two constonant must have a vowel after unless those two exact preceeding characters occur in the corpus in a row. Something like that anway.  We'd want to have levers on the degrees of being one way or the other and test it out to get the frequencies right.

You could even have it take another input aside from a corpus: sentiment.  So a user could type 'harry potter' and select 'negative sentiment' (or maybe 'magical' or 'creature' or 'female'?), but I'm getting ahead of myself.

***
#### Get A Data Placeholder
Eventually, we'll want to be able to point this at any corpus trim the stopwords, and do all the usual NLP stuff, but since I just want to see if this project will create anything interesting, I'm going to load in some test data.  In my Fortitude Monster Namer, I generated 10,000 monster names and put them into a .csv

In [5]:
monster_names_raw = pd.read_csv("../data_raw/monster_names.csv")

In [6]:
monster_names_raw

     monster_names
0          Krodraz
1            Ixroz
2         Gharthor
3         Zlolibax
4              Gab
...            ...
9995       Rathnor
9996     Grixeneva
9997      Ja'rouoy
9998   Nephnelldra
9999           Ult

[10000 rows x 1 columns]

Let's convert to lowercase

In [7]:
monster_names = pd.DataFrame({"monster_names": monster_names_raw.monster_names.str.lower()})

In [8]:
monster_names.head()

  monster_names
0       krodraz
1         ixroz
2      gharthor
3      zlolibax
4           gab

Lets create a dataframe of letters (and "'") in the first column and each column to the right as the first character, the n+1 character, etc.

In [9]:
# build series of letters
letters = []

In [10]:
for i in range(len(ascii_lowercase)):
    letters.append(ascii_lowercase[i])

In [11]:
# add apostrophy
letters.append("\'")

In [12]:
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "'"]

In [13]:
# get max character count to determine how many columns should exist
max_char = max(monster_names.monster_names.str.len())

In [14]:
# create column names that concatenate 'position' with the 1-max_char
col_names = []
for i in range(max_char):
    col_name = "pos" + str(i+1)
    if len(str(i+1))==1:
        col_name = "pos0" + str(i+1) # provide a leading 0 to 1-9
    col_names.append(col_name)

In [15]:
col_names

['pos01',
 'pos02',
 'pos03',
 'pos04',
 'pos05',
 'pos06',
 'pos07',
 'pos08',
 'pos09',
 'pos10',
 'pos11',
 'pos12',
 'pos13']

In [16]:
# build dataframe
char_counts = pd.DataFrame(index = letters, columns = col_names)

In [17]:
char_counts.head()

,pos01,pos02,pos03,pos04,pos05,pos06,pos07,pos08,pos09,pos10,pos11,pos12,pos13
a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# fill with 0s instead of NaN
char_counts = char_counts.fillna(0)
char_counts.head()

,pos01,pos02,pos03,pos04,pos05,pos06,pos07,pos08,pos09,pos10,pos11,pos12,pos13
a,0,0,0,0,0,0,0,0,0,0,0,0,0
b,0,0,0,0,0,0,0,0,0,0,0,0,0
c,0,0,0,0,0,0,0,0,0,0,0,0,0
d,0,0,0,0,0,0,0,0,0,0,0,0,0
e,0,0,0,0,0,0,0,0,0,0,0,0,0

Great, so now we have an empty dataframe ready to get filled with character counts before converting to probabilities

In [19]:
# we'll want to vectorize this for speed if it works, but for now, let's just loop through and get a count
for i in range(char_counts.shape[1]):
    # subset to the ith character in a series
    ith_char = monster_names.monster_names.str[i]
    # get count of character per character
    for j in range(len(letters)):
        char_counts.iloc[j,i] = sum(ith_char.dropna().str.count(char_counts.index[j]))

In [20]:
char_counts

,pos01,pos02,pos03,pos04,pos05,pos06,pos07,pos08,pos09,pos10,pos11,pos12,pos13
a,675,2496,1021,622,1305,992,583,526,421,215,69,12,1
b,780,149,286,279,143,95,87,64,29,9,1,1,0
c,358,132,118,245,140,145,121,135,146,69,27,2,0
d,776,40,551,599,386,286,329,196,124,81,28,7,1
e,354,941,767,398,748,550,382,321,281,174,59,18,4
f,241,50,17,126,37,90,81,38,16,11,5,1,0
g,1189,82,582,509,301,233,219,129,114,59,28,6,1
h,349,635,198,599,482,339,227,190,122,110,71,24,2
i,191,539,274,445,555,413,346,302,182,66,19,3,0
j,249,41,85,30,17,28,25,16,4,8,1,0,0
k,1041,48,401,573,321,347,297,207,176,135,50,15,1
l,194,363,879,529,408,460,371,205,165,102,48,9,1
m,648,99,95,304,118,106,111,84,54,43,21,4,0
n,185,239,453,567,381,642,561,347,228,127,70,17,3
o,279,1123,882,577,1066,728,501,472,332,120,17,1,0
p,54,41,301,182,130,54,73,35,21,7,1,1,0
q,77,0,44,41,22,28,47,21,22,9,6,0,0
r,436,1420,990,762,606,891,552,383,279,176,69,14,0
s,511,122,428,355,275,329,265,190,191,128,54,9,5
t,307,36,470,552,384,407,394,272,197,146,62,24,1
u,282,533,362,316,521,439,260,274,168,78,8,0,1
v,410,88,72,129,86,151,129,80,53,40,7,5,0
w,0,128,5,31,24,54,37,19,16,7,2,0,0
x,30,153,183,151,73,46,23,54,41,42,15,1,0
y,140,268,147,73,68,45,49,52,40,13,4,1,0
z,244,227,107,210,59,68,72,50,32,22,10,4,0
',0,0,120,5,87,31,23,20,15,9,3,1,0

Absolutely gorgeous.  Now we need to convert to probabilities

In [21]:
# again, better to vectorize, but my tiny pea-brain (and lack of immediately know which functions to call in python)
# is capable of quickly doing a loop
char_probs = char_counts #CAUTION: you really should maybe use the clone module? you'll write over char_counts like this

for i in range(char_probs.shape[1]):
    column_sum = sum(char_probs.iloc[:,i])
    for j in range(char_probs.shape[0]):
        char_probs.iloc[j,i] = char_probs.iloc[j,i]/column_sum

In [22]:
# confirm a column sums to 1
sum(char_probs.iloc[:,i])

1.0

In [23]:
char_probs

,pos01,pos02,pos03,pos04,pos05,pos06,pos07,pos08,pos09,pos10,pos11,pos12,pos13
a,0.0675,0.249775,0.103781,0.067543,0.149262,0.124047,0.094566,0.112345,0.121361,0.107178,0.091391,0.066667,0.047619
b,0.0780,0.014910,0.029071,0.030296,0.016356,0.011879,0.014112,0.013669,0.008360,0.004487,0.001325,0.005556,0.000000
c,0.0358,0.013209,0.011994,0.026604,0.016013,0.018132,0.019627,0.028834,0.042087,0.034397,0.035762,0.011111,0.000000
d,0.0776,0.004003,0.056007,0.065045,0.044150,0.035763,0.053366,0.041862,0.035745,0.040379,0.037086,0.038889,0.047619
e,0.0354,0.094166,0.077963,0.043219,0.085554,0.068776,0.061963,0.068560,0.081003,0.086740,0.078146,0.100000,0.190476
f,0.0241,0.005004,0.001728,0.013682,0.004232,0.011254,0.013139,0.008116,0.004612,0.005484,0.006623,0.005556,0.000000
g,0.1189,0.008206,0.059158,0.055272,0.034428,0.029136,0.035523,0.027552,0.032862,0.029412,0.037086,0.033333,0.047619
h,0.0349,0.063544,0.020126,0.065045,0.055130,0.042391,0.036821,0.040581,0.035169,0.054835,0.094040,0.133333,0.095238
i,0.0191,0.053938,0.027851,0.048322,0.063479,0.051644,0.056123,0.064502,0.052465,0.032901,0.025166,0.016667,0.000000
j,0.0249,0.004103,0.008640,0.003258,0.001944,0.003501,0.004055,0.003417,0.001153,0.003988,0.001325,0.000000,0.000000
k,0.1041,0.004803,0.040760,0.062222,0.036715,0.043391,0.048175,0.044212,0.050735,0.067298,0.066225,0.083333,0.047619
l,0.0194,0.036325,0.089347,0.057444,0.046666,0.057522,0.060178,0.043785,0.047564,0.050847,0.063576,0.050000,0.047619
m,0.0648,0.009907,0.009656,0.033011,0.013497,0.013255,0.018005,0.017941,0.015566,0.021436,0.027815,0.022222,0.000000
n,0.0185,0.023917,0.046046,0.061570,0.043578,0.080280,0.090998,0.074114,0.065725,0.063310,0.092715,0.094444,0.142857
o,0.0279,0.112379,0.089652,0.062656,0.121926,0.091034,0.081265,0.100812,0.095705,0.059821,0.022517,0.005556,0.000000
p,0.0054,0.004103,0.030596,0.019763,0.014869,0.006753,0.011841,0.007475,0.006054,0.003490,0.001325,0.005556,0.000000
q,0.0077,0.000000,0.004472,0.004452,0.002516,0.003501,0.007624,0.004485,0.006342,0.004487,0.007947,0.000000,0.000000
r,0.0436,0.142099,0.100630,0.082745,0.069313,0.111417,0.089538,0.081803,0.080427,0.087737,0.091391,0.077778,0.000000
s,0.0511,0.012209,0.043505,0.038549,0.031454,0.041140,0.042985,0.040581,0.055059,0.063809,0.071523,0.050000,0.238095
t,0.0307,0.003603,0.047774,0.059941,0.043921,0.050894,0.063909,0.058095,0.056789,0.072782,0.082119,0.133333,0.047619
u,0.0282,0.053337,0.036796,0.034314,0.059591,0.054896,0.042174,0.058522,0.048429,0.038883,0.010596,0.000000,0.047619
v,0.0410,0.008806,0.007319,0.014008,0.009836,0.018882,0.020925,0.017087,0.015278,0.019940,0.009272,0.027778,0.000000
w,0.0000,0.012809,0.000508,0.003366,0.002745,0.006753,0.006002,0.004058,0.004612,0.003490,0.002649,0.000000,0.000000
x,0.0030,0.015311,0.018601,0.016397,0.008350,0.005752,0.003731,0.011534,0.011819,0.020937,0.019868,0.005556,0.000000
y,0.0140,0.026819,0.014942,0.007927,0.007778,0.005627,0.007948,0.011106,0.011531,0.006481,0.005298,0.005556,0.000000
z,0.0244,0.022716,0.010876,0.022804,0.006748,0.008503,0.011679,0.010679,0.009225,0.010967,0.013245,0.022222,0.000000
',0.0000,0.000000,0.012198,0.000543,0.009951,0.003876,0.003731,0.004272,0.004324,0.004487,0.003974,0.005556,0.000000

In [24]:
# probability of rolling 'grimace' if you have a 7 character string:
1/(char_probs.pos01['g']*char_probs.pos01['r']*char_probs.pos01['i']*char_probs.pos01['m']*char_probs.pos01['a']*\
    char_probs.pos01['c']*char_probs.pos01['e'])

1821936437.3653061

So basically, if you select a 7-character string, there is a 1 in 1.82 billion chance of getting 'grimace'. Neat.

At this point, we can see what a 'dumb' version of the monster namer would generate by arbitrarily picking a number of characters for a new word and then selecting letters based on the char_probs distributions

In [25]:
# random.choices allows a random selection based on weighted probabilities
random.choices(letters,char_probs.pos01)

['c']

In [26]:
# testing out a 7 character string
new_word_chars = 7

In [27]:
new_word = ''.join([random.choices(letters,char_probs.iloc[:,i])[0] for i in range(new_word_chars)])

In [28]:
for i in range(20):
    print(''.join([random.choices(letters,char_probs.iloc[:,i])[0] for i in range(new_word_chars)]))

jeotorc
duiuaav
sargche
kaxboee
rnuieof
sakktla
marouca
kbbtehi
gaiunst
kedrgel
vzclggg
uasenur
errclda
bibaido
dcenanb
leldaai
ularelf
aaeodlu
frafbsa
dmesogo

Still nonsense, as expected.  What we'll want is to manipulate the probabilities based on preceding characters via conditional probability.  I'm imagining something where the second character's per-letter probabilities are a weighted mix of the probabilties of that character being in the second position as well as the conditional probability of that character following the preceding one (regardless of position).  It seems intuitive that we'd want to perhaps do this sort of weighting out to 2-3 characters with a strong probabalistic bias toward the continuity of characters in a sequence over position.  This is where I'd want to have a weight that we can treat as a variable and test results with various weights.  

Still, lots of building to do to get us there.  Seems like we'll want a function which takes the current in-process string and look-back number of characters then outputs the probabilities of each letter given those parameters.  So basically, if the string I'm building has 'Moo', and I want 1 character worth of lookback, it'll look at all instances of 'o' in the corpus and provide the probability of each letter following 'o'.  If I then want 2 characters worth of lookback, then it'd look at all instances of 'oo' in the corpus and return the probabilities of each letter following 'oo'.  Obviously, more weight should be placed on the 'oo' since we don't want a high likelihood of 'ooo' and 'o' is probably pretty likely to follow a single 'o'.